body {
/*    background: linear-gradient(#12C2E9, #F64F59); */
    text-align: center;
	margin: 20px 100px;
}

table {
	margin-bottom: 25px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}

caption {
	margin-bottom: 5px;
}

img {
    width: 1200;
    height: 300;
    padding-left: 10px;
    padding-right: 10px;
}

#diagram {
    width: 1200;
    height: 700;
	margin-left: auto;
	margin-right: auto;
}